#tab{
background-color: rgb(255, 255, 255);
display: flex;
justify-content: center;}

.tabs{
width: 1170px;
margin-top: 80px;
box-sizing: border-box;
background-color: rgb(255, 255, 255);
margin-bottom: 80px;}

.tabs__buttons__text{
text-decoration: none;
font-family: 'Open Sans';
font-size: 14px;
line-height: 19px;
text-transform: uppercase;
color: #333333;}

.tabs__button1,
.tabs__button2,
.tabs__button3{
display: inline-block;
width: 203px;
height: 40px;
text-align: center;
box-sizing: border-box;
padding-top: 10px;}

.tabs__line{
border-bottom: 1px solid #C6CBCD;
width: 565px;
height: 39,5px;}

.tabs__button1{
border-left: 1px solid #C6CBCD;
border-top: 1px solid #C6CBCD;
border-right: 1px solid #C6CBCD;
border-radius: 5px 5px 0px 0px}

.tabs__button2{border-bottom: 1px solid #C6CBCD;}
.tabs__button3{border-bottom: 1px solid #C6CBCD;}

.tabs__box__headers{
margin-left: 100px;
margin-bottom: 27px;}

.tabs__main-header{
height: 124px;
font-family: 'Open Sans', sans-serif;
font-size: 30px;
line-height: 41px;
display: flex;
align-items: center;}

.tabs__under-header-text{
font-family: 'Raleway';
font-size: 18px;
font-weight: 400;
line-height: 21px;
margin-right: 30px;}

.tabs__download-button {width: 270px;
height: 58px;
font-family: 'Open Sans';
font-weight: 600;
font-size: 18px;
margin-top: 10px;
background-color: #EC7979;
border: none;
color: #ffffff;}

.tabs__buttons,
.tabs__box{
display:flex;}

.tabs__box{
width: 1170px;
height: 501px;
box-sizing: border-box;
border-left: 1px solid #C6CBCD;
border-bottom: 1px solid #C6CBCD;
border-right: 1px solid #C6CBCD;}

@media (max-width:1170px){
.tabs{width: 992px;}
.tabs__main-header{font-size: 24px;
height: 89px;
margin: 0;}
.tabs__box__headers{margin-left: 84px;
margin-bottom: 0;}
.tabs__under-header-text{font-size: 14px;
width: 480px;
margin-bottom: 0;}
.tabs__download-button{width: 230px;
margin-top: 30px;}
.tabs__button1,
.tabs__button2,
.tabs__button3{width: 172px;}
.tabs__box__img{width: 385px;
height: 385px;}
.tabs__box{height: 386px;
width: 992px;
display: flex;
justify-content: space-between;}}

@media (max-width:1024px){
.tabs__box__img{display: none;}
.tabs{width: 288px;
margin-top: 50px;
margin-bottom: 60px;}
.tabs__box{width: 288px;
display: flex;
justify-content: center;}
.tabs__main-header{font-size: 18px;
width: 242px;
line-height: 20px;
text-align: center;}
.tabs__box__headers{margin: 0 auto;}
.tabs__under-header-text{font-size: 13px;
line-height: 15px;
width: 242px;
text-align: center;
margin-right: 0;}
.tabs__download-button{width: 242px;
height: 50px;
margin-top: 20px;}
.tabs__line{display: none;}}
