#pricing{
width: 100vw;
background: #F5F5F5;}

.pricing{
width: 1170px;
margin: 0 auto;
box-sizing: border-box;
padding-bottom: 40px;}

.pricing__headers {
display: flex;
flex-direction: column;
align-items: center;}

.pricing__header-text{
margin: 0;
margin-top: 80px;
padding-bottom: 50px;
font-size: 36px;
font-weight: 400;
font-family: 'Raleway', sans-serif;}

.pricing__separator{
width: 170px;
margin: 0 auto;
border: 1px solid #EC7979;}

.pricing__under-separator-text{
font-size: 18px;
font-family: 'Raleway';
font-weight: 400;
color: #86878B;
margin-bottom: 45px;}

.pricing__box{
width: 370px;
height: 510px;
background-color: rgb(255, 255, 255);
border: 1px solid #F5F5F5;}

.pricing__box__header{
height: 60px;
font-family: 'Open Sans';
color: #FFFFFF;
background: #333333;
border: 1px solid #F5F5F5;
font-weight: 700;
font-size: 24px;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;}

.pricing__box__price {
height: 100px;
font-family: 'Raleway';
color: #FFFFFF;
background: #333333;
border: 1px solid #F5F5F5;
font-size: 36px;
line-height: 42px;
font-weight: 700;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;}

.pricing__box__under-price-text{
height: 50px;
font-family: 'Raleway';
background: #333333;
border: 1px solid #F5F5F5;
font-weight: 400;
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
color: rgba(255, 255, 255, 0.5);
box-sizing: border-box;}

.pricing__box__text{
height: 50px;
font-family: 'Raleway';
color: #86878B;
border: 1px solid #F5F5F5;
display: flex;
justify-content: center;
align-items: center;
font-weight: 400;
font-size: 18px;
box-sizing: border-box;}

.pricing__boxes {
display: flex;
justify-content: space-between;}

.box-two{box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);}

.box-one, .box-three
{margin-top: 20px;}

@media (max-width:1170px){
.pricing{width: 992px;}
.pricing__header-text{font-size: 24px;
padding-bottom: 40px;}
.pricing__separator{width: 142px;}
.pricing__under-separator-text{margin-top: 30px;
font-size: 14px;}
.pricing__box{width: 318px;
height: 449px;}
.pricing__box__header{
height: 53px;}
.pricing__box__price {
height: 88px;}
.pricing__box__under-price-text{
height: 44px;}
.pricing__box__text{height: 44px;}}

@media (max-width:1024px){
.pricing{width: 288px;
display: flex;
flex-wrap: wrap;}
.pricing__header-text{margin-top: 60px;}
.pricing__separator{width: 134px;}
.pricing__under-separator-text{
font-size: 13px;
text-align: center;
margin-bottom: 10px;}
.pricing__boxes{
width: 288px;
flex-wrap: wrap;
height: fit-content;}
.pricing__box{box-shadow: none;
margin-top: 25px;
height: 398px;}
.pricing__box__header{
font-size: 18px ;
height: 47px;}
.pricing__box__price {
font-size: 24px;
height: 78px;}
.pricing__box__under-price-text{
font-size: 14px;
height: 39px;}
.pricing__box__text{
font-size: 14px;
height: 39px;}}